/* .empty__div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(45deg, #6ae5f3, #349bf3);
  z-index: -1;
} */

.HomePresenter__button {
  border: 0;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 10px;
  left: 7px;
}

.HomePresenter__container {
  display: flex;
  justify-content: space-between;
}

.HomePresenter__container__header {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
}

.HomePresenter__container__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 13px;
  position: absolute;
  top: 80px;
  right: 11px;
}

.HomePresenter__container__logo__text {
  margin-top: 7px;
  color: black;
}

.HomePresenter__container__logo__logout {
  margin-top: 7px;
  cursor: pointer;
}
