.MainMap__address__bar {
  z-index: 3;
  width: 100%;
  position: absolute;
  top: 70px;
  display: flex;
  justify-content: center;
}

.MainMap__pickButton {
  z-index: 3;
  width: 100%;
  position: absolute;
  bottom: 70px;
  display: flex;
  justify-content: center;
}
.MainMap__Request__button {
  z-index: 3;
  width: 100%;
  position: absolute;
  bottom: 120px;
  display: flex;
  justify-content: center;
}

.MainMap__info {
  z-index: 3;
  position: absolute;
  left: 10px;
  top: 135px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bolder;
}

.RideRequest_container {
  z-index: 5;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
